* {
   /*border: 2px solid red;*/
}
body {
   /*background: black;*/
   box-sizing: border-box;
   overflow: auto;
   margin: 0;
   background: url(../../media/gradient.png);
   font-family: sans-serif;
}

main {
   overflow: auto;
   padding: 35px 20%;
}

footer {
   background-color: black;
   color: white;
   text-align: center;
   padding: 15px;
   position: absolute;
   bottom: 0;
   width: 100%;
}

label {
   font-size: 10px;
}

.topHeader {
   background-color: rgba( 0, 0, 0, 0.5);
   color: white;
   font-size: 2em;
   padding: 20px;
}

#yerOrder {
   float: left;
   background-color: white;
   width: 39%;
   min-height: 480px;
   border: 1px solid grey;
   display: inline-block;
   padding: 20px;
   font-size: 20px;

}

#eatThisMenu {
   width: 95%;
   height: 250px;
   font-size: 20px;
   padding: 20px;
   overflow: scroll;
}

#menuForm {
   width: 50%;
   float: left;
}

#theMenu {
   width: 100%;
}

#theDeets {
   opacity: 0.0;
   font-size: 14px;
}

#addToOrder {
   background-color: #5973a6;
   color: white;
}

#deliverIt {
   background-color: #59a673;
   color: white;
}

#addToOrder:hover {
   background-color: #6a81af;
}

#deliverIt:hover {
   background-color: #6aaf81;
}
